* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

#imgHome {
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

div {  
  text-align: center;
  font-family: 'Roboto', sans-serif;

  margin-top: 17.2rem;

}

div h1 {
  color: #E1E1E6;
  
  font-size: 4.8rem;
  line-height: 125%; 
  margin-bottom: 2.4rem;
}

div button {
  background-color: transparent;
  border: 2px solid #FFF;
  border-radius: 0.5rem;


  color: #FFF;
  padding: 1.2rem 3.2rem;
}

div button:hover {
  cursor: pointer;
}